* {
 box-sizing: border-box; 
}
.App {
  /* text-align: center; */
  max-width: 600px;
  margin: auto;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*input type text style*/
input[type='text'] {
  border: none;
  border-bottom: 1px #99999980 inset;
  width: 540px;
  font-size: 16px;
}

#todoEdit {
  width: 520px;
  background: transparent;
}

input[type='text']:focus {
  outline: none;
  background: #9999991a;
}
/************************/

/*Button style*/
button {
  border: none;
  background: none;
  font-size: 18px;
}

button:focus {
  outline: none;
}

#add-button:hover,
#edit-button:hover {
  cursor: pointer;
  background: #e0ffe0;
}

#add-button::before,
#edit-button::before {
  content: "+ ";
}

.edit-button,
.remove-button {
  float: right;
  cursor: pointer;
}

.edit-button:hover {
  fill: #2aa1c0;
}
/**************************/
/*Todo input style*/
.todos-wrapper {
  width: 600px;
  text-align: center;
  margin: auto;
}

.checkbox-wrapper {
  width: 400px;
  text-align: left;
}

.control {
  font-family: arial;
  /* display: block; */
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #eee;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
  border-radius: undefined;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}

.rounded-checkbox {
  border-radius: 50%;
  
}

/* .control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
} */  
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/*****************/
ul {
  padding: 0;
  
}
li {
  list-style: none;
  padding: 10px 0 10px 10px;
  /* border: 1px solid #999; */
  margin-bottom: 5px;
  border-left: 4px solid orange;
  background: rgb(247, 204, 125);
}

.todo-item {
  /* border-bottom: 1px solid #999; */
  padding-bottom: 5px;
} 

p.task-text {
  margin: 0;
  display: inline;
  text-align: left !important;
}
 

.red {
  background: #e60000;
}

.orange {
  background: #ffb732;
}

.blue {
  background: #4c4cff;
}

.green {
  background: #329932;
}