* {
 box-sizing: border-box; 
}
body {
  background: #222;
}
.App {
  /* text-align: center; */
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 100vh;
  margin: auto;
  background: #fff;
}

/*input type text style*/
input[type='text'] {
  border: none;
  border-bottom: 1px #99999980 inset;
  width: 80%;
  font-size: 14px;
}

#todoEdit {
  background: transparent;
}

input[type='text']:focus {
  outline: none;
  background: #9999991a;
}
/************************/

/*Button style*/
button {
  border: none;
  background: none;
  font-size: 14px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#add-button:hover,
#edit-button:hover {
  background: #e0ffe0;
}

#add-button::before,
#edit-button::before {
  content: "+ ";
}

.edit-button,
.remove-button {
  float: right;
  cursor: pointer;
}

/**************************/
/*Todo input style*/
.todos-wrapper {
  width: 100%;
  margin: auto;
  padding: 20px 10px;
}

.todo-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.checkbox-wrapper {
  width: 100%;
}

.control {
  font-family: arial;
  /* display: block; */
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #eee;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
  border-radius: undefined;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}

.rounded-checkbox {
  border-radius: 50%;
  
}

/* .control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
} */  
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/*****************/
ul {
  padding: 0;
  
}
li {
  list-style: none;
  padding: 10px 0 10px 10px;
   margin-bottom: 5px; 
}


.todo-item {
  /* border-bottom: 1px solid #999; */
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  width: 100%;
} 

.done-checkbox-wrapper {
  width: 8%;
}

.task-text-wrapper {
  width: 62%;
}

.edit-remove-btn-wrapper {
  width: 30%;
}

p.task-text {
  margin: 0;
  /* display: inline; */
  /* text-align: left !important; */
}

 

.red {
  border-left: 4px solid #d62d20;
}

.orange {
  border-left: 4px solid 	#ffa700;
}

.blue {
  border-left: 4px solid #0057e7;
}

.green {
  border-left: 4px solid  #008744;
}

/****header style***/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #e5e5e5;  
  padding: 0 10px;  
  
}
header h1 {
  display: inline;
  margin: 0;
  font-size: 22px;
}

/*******************/

@media screen and (min-width: 768px) {
  .done-checkbox-wrapper {
    width: 5%;
  }
  
  .task-text-wrapper {
    width: 65%;
  }
  
  .edit-remove-btn-wrapper {
    width: 30%;
  }
}